<div>
  <form role="search">
    <div class="col-xs-12 col-md-10 pull-xs-right">
      <div class="form-group">
        <div class="input-group">
                <span class="input-group-addon ">
          <span class="fa fa-search"></span>
        </span>
          <input type="text"
                 class="form-control"
                 placeholder="Search..."
                 autofocus
                 (keyup)="search(textBox.value)"
                 #textBox>
        </div>
      </div>
    </div>
  </form>
</div>
