.loading {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #1b6f7e;
    z-index: -1;
}

.loading img {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 80px;
    width: auto;
}

dl-root:empty + .loading {
    opacity: 1;
    z-index: 100;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

